<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/backend/manager.css">
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../js/utility.js"></script>
    <script type="text/javascript" src="../js/jelly/config.js"></script>
    <script type="text/javascript" src="../js/backend/manager.js"></script>
</head>
<body ng-controller="MyController">
<form ng-hide="logged">
    <label>account:</label>
    <input type="text" ng-model="account"/>
    <label>password:</label>
    <input type="password" ng-model="password"/>
    <input type="button" value="login" ng-click="login()">
</form>
<table class="bulletinList" ng-show="logged">
    <thead>
    <tr>
        <th>title</th>
        <th>content</th>
        <th>
            action
            <img src="../images/backend/icon_01.png" class="actionButton" ng-click="bulletinAdd()"/>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="bulletin in bulletinList">
        <td>
            <div ng-hide="bulletin.editing">{{bulletin.title}}</div>
            <div ng-show="bulletin.editing">
                <input type="text" ng-model="bulletin.title"/>
            </div>
        </td>
        <td>
            <div ng-hide="bulletin.editing">{{bulletin.content}}</div>
            <div ng-show="bulletin.editing"> <input type="text" ng-model="bulletin.content"/></div>
        </td>
        <td>
            <div ng-hide="bulletin.editing">
                <img src="../images/backend/icon_03.png" class="actionButton" ng-click="update($index)"/>
                <img src="../images/backend/icon_02.png" class="actionButton" ng-click="remove($index)"/>
            </div>
            <div ng-show="bulletin.editing">
                <img src="../images/backend/icon_04.png" class="actionButton" ng-click="save($index)"/>
                <img src="../images/backend/icon_05.png" class="actionButton" ng-click="cancel($index)"/>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<script>
    if($.browser.mobile){
        window.location.href = "../mobile/backend/Manager.html";
    }else{
        var myApp = angular.module("myApp", []);
        myApp.controller("MyController", MyController);
    }
</script>
</body>
</html>